---
import { Typography } from "../../../../components/index.astro"
---

<div class="mx-auto max-w-4xl">
	<Typography type="h3" class="text-dark dark:text-white">Soy el contenido del Demo</Typography>
	<Typography class="text-dark dark:text-white">
		Lorem ipsum dolor sit amet consectetur, adipisicing elit. Molestias sed maxime praesentium
		corporis quo ipsam id doloribus laborum, quas in officiis nostrum hic architecto quod rem sunt
		necessitatibus voluptas accusantium commodi? Molestias eaque architecto laborum rem sunt eos
		fuga reiciendis, provident minima minus saepe quo facere laudantium vel dolorum dolorem
		voluptatem pariatur atque, cupiditate eum. Perspiciatis et eaque porro, ipsam tenetur
		reprehenderit alias ratione consectetur officia distinctio numquam ad! Eius itaque nam
		temporibus sint placeat adipisci vel animi similique tenetur, neque voluptatem, eos quas tempore
		mollitia nemo quis explicabo saepe rem nihil cumque reiciendis? Veniam iste maxime totam itaque
		expedita.
	</Typography>
	<Typography type="h3" class="text-dark dark:text-white">Soy el contenido del Demo</Typography>
	<Typography class="text-dark pb-28 dark:text-white">
		Lorem ipsum dolor sit amet consectetur, adipisicing elit. Molestias sed maxime praesentium
		corporis quo ipsam id doloribus laborum, quas in officiis nostrum hic architecto quod rem sunt
		necessitatibus voluptas accusantium commodi? Molestias eaque architecto laborum rem sunt eos
		fuga reiciendis, provident minima minus saepe quo facere laudantium vel dolorum dolorem
		voluptatem pariatur atque, cupiditate eum. Perspiciatis et eaque porro, ipsam tenetur
		reprehenderit alias ratione consectetur officia distinctio numquam ad! Eius itaque nam
		temporibus sint placeat adipisci vel animi similique tenetur, neque voluptatem, eos quas tempore
		mollitia nemo quis explicabo saepe rem nihil cumque reiciendis? Veniam iste maxime totam itaque
		expedita.
	</Typography>
</div>
