---
import type { NavProps } from "@/types"
import { Typography } from "@/components/index.astro"

const { data } = Astro.props
const { items } = data as NavProps
---

<aside>
	{
		items.map(({ label, items }) => (
			<div class="relative">
				<Typography type="h6" class="text-dark py-4 dark:text-white">
					{label}
				</Typography>
				{items.map(({ label, path }) => (
					<ul class="relative">
						<li>
							<Typography
								type="a"
								href={path}
								class="text-dark/60 flex py-2 transition-opacity hover:opacity-70 dark:text-white/60"
							>
								{label}
							</Typography>
						</li>
					</ul>
				))}
			</div>
		))
	}
</aside>
