---
import { TbMoonFilled, TbMoonOff } from "react-icons/tb"
---

<div
	class="schemeSelector bg-dark/5 hover:bg-dark/10 flex aspect-square h-8 w-8 cursor-pointer items-center justify-center rounded-full p-1 transition-colors dark:bg-white/5 dark:hover:bg-white/10"
>
	<div class="text-dark/60 hidden dark:block dark:text-white"><TbMoonFilled /></div>
	<div class="block dark:hidden dark:text-white/40"><TbMoonOff /></div>
</div>

<script>
	import Cookies from "js-cookie"

	const toggleTheme = () => {
		const documentClasses = document.documentElement.classList
		let newTheme = ""

		if (documentClasses.contains("dark")) {
			documentClasses.remove("dark")
			Cookies.set("color-theme", "light")
			newTheme = "light"
		} else {
			documentClasses.add("dark")
			Cookies.set("color-theme", "dark")
			newTheme = "dark"
		}

		document.querySelectorAll(".schemeSelector").forEach((el) => {
			if (newTheme === "dark") {
				el.classList.add("isDark")
			} else {
				el.classList.remove("isDark")
			}
		})

		document.dispatchEvent(new CustomEvent("theme-changed", { detail: { theme: newTheme } }))
	}

	if (!(globalThis as any).themeSwitcherInitialized) {
		(globalThis as any).themeSwitcherInitialized = true;
		document.addEventListener("click", (e) => {
			const target = e.target as HTMLElement
			const schemeSelector = target.closest(".schemeSelector")
			if (schemeSelector) {
				toggleTheme()
			}
		})
	}

	document.addEventListener("astro:page-load", () => {
		const documentClasses = document.documentElement.classList
		const isDark =
			Cookies.get("color-theme") === "dark" ||
			(!Cookies.get("color-theme") && window.matchMedia("(prefers-color-scheme: dark)").matches)

		document.querySelectorAll(".schemeSelector").forEach((el) => {
			if (isDark) {
				el.classList.add("isDark")
			} else {
				el.classList.remove("isDark")
			}
		})

		if (isDark) {
			documentClasses.add("dark")
		} else {
			documentClasses.remove("dark")
		}
	})
</script>
