---
import { getLangFromUrl, useTranslatedPath } from "@/i18n/utils"

import ButtonMenu from "@/components/core/ButtonMenu.astro"
import LangSelector from "@/components/core/LangSelector.astro"
import Logo from "@/components/core/Logo.astro"
import Menu from "@/components/ui/Menu.astro"
import Nav from "@/components/ui/Nav.astro"
import SwitchScheme from "@/components/core/SwitchScheme.astro"

const { url, props } = Astro

const lang = getLangFromUrl(url)
const translatePath = useTranslatedPath(lang)

const { lang: langSelector = true } = props || {}
---

<header class="sticky top-0 right-0 left-0 z-50 p-4">
	<div id="liquid-glass-header" class="relative container m-auto">
		<!-- The glass layer with Dynamic SVG Filter -->
		<div class="glass-liquid-bg rounded-main dark:bg-dark absolute inset-0 -z-10 bg-white"></div>

		<!-- The interactive content -->
		<div class="flex items-center justify-between gap-4 p-3 px-8">
			<a href={translatePath("/")} class="text-dark dark:text-white" title="Arsi Logo">
				<Logo />
			</a>
			<div class="ml-auto hidden items-center gap-4 lg:flex">
				<Nav />
				{langSelector && <LangSelector />}
				<SwitchScheme />
			</div>
			<div class="lg:hidden"><ButtonMenu /></div>
		</div>
	</div>
	<Menu />
</header>
