---
import { getLangFromUrl, useTranslatedPath } from "@/i18n/utils";
import { Logo, Nav } from "@/components/index.astro";


const lang = getLangFromUrl(Astro.url);
const translatePath = useTranslatedPath(lang);
---

<header class='sticky top-0 left-0 right-0 z-50 px-4 pt-4'>
  <div
    class='container flex items-center justify-between gap-4 p-3 px-8 m-auto transition rounded-main backdrop-blur-md bg-white/60 dark:bg-dark/60'
  >
    <a href={translatePath('/')} class='text-white' title="Arsi Logo">
      <Logo />
    </a>
    <div class='flex items-center gap-8 ml-auto'>
      <Nav />
      <!-- <SwitchScheme client:load /> -->
    </div>
  </div>
</header>
