---
import type { Langs, ProjectWithLang } from '../../../../types';

import { getLangFromUrl, useTranslatedPath, useTranslations } from '../../../../i18n/utils';
import { filterProjects } from '../../../../utils';

import { Footer, Header } from '../../../../components/shared/index.astro';
import { HeaderPage } from '../../../../components/ui/index.astro';
import { SectionProjectDetail } from '../../../../components/sections/index.astro';
import Layout from '../../../../layouts/Layout.astro';

export async function getStaticPaths() {
  const projects: ProjectWithLang[] = await Astro.glob('../../../../data/projects/*.json');
  const lang: Langs = 'es';
  const projectList = await filterProjects({ projects, lang });

  return projectList.map((post) => {
    return {
      params: { id: post.name },
      props: { post },
    };
  });
}

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const translatePath = useTranslatedPath(lang);
const { post } = Astro.props;
const { title } = post;

const breadcrumbs = [
  {
    name: t('nav.home'),
    type: 'link',
    url: translatePath('/'),
  },
  {
    type: 'separator',
  },
  {
    name: t('nav.projects'),
    type: 'link',
    url: translatePath('/projects'),
  },
  {
    type: 'separator',
  },
  {
    name: title,
    type: 'current',
  },
];
---

<Layout title={`Israel Larrondo | ${title}`}>
  <Header />
  <div class='bg-white dark:bg-dark relative z-10'>
    <HeaderPage title={title} {breadcrumbs} />
    <SectionProjectDetail project={post} />
  </div>
  <Footer />
</Layout>
