---
import Grid from "./Grid.astro";
---

<div class='absolute bottom-0 left-0 right-0 px-4 pointer-events-none select-none -z-50'>
  <div class='container grid grid-cols-12 m-auto'>
    <Grid />
  </div>
</div>
