---
import Grid from './Grid.astro';

const { class: className = '' } = Astro.props;
---

<div class=`w-full px-4 pointer-events-none select-none -z-50 ${className}`>
  <div class='container grid grid-cols-6 md:grid-cols-12 m-auto h-full'>
    <Grid />
  </div>
</div>
