---
import { getLangFromUrl } from "@/i18n/utils"

import AboutEs from "@/content/sections/about-es.astro"
import AboutEn from "@/content/sections/about-en.astro"

const lang = getLangFromUrl(Astro.url)

const sectionsContent = {
	es: AboutEs,
	en: AboutEn,
}

const AboutContent = sectionsContent[lang]
---

<section
	class="dark:bg-dark relative z-10 flex items-center justify-center bg-white px-5 pt-14 pb-8 md:pt-40 md:pb-24"
>
	<AboutContent />
</section>
