---
import { getLangFromUrl } from "@/i18n/utils"
import { SECTIONS_CONTENT } from "@/content/index.astro"

const lang = getLangFromUrl(Astro.url)

const { about: AboutContent } = SECTIONS_CONTENT[lang]
---

<section
	class="relative z-10 flex items-center justify-center bg-white px-5 pb-8 pt-14 dark:bg-dark md:pb-24 md:pt-40"
>
	<AboutContent />
</section>
