---
import { getLangFromUrl } from '../../i18n/utils';
import type { Langs, ProjectWithLang } from '../../types';
import { filterProjects } from '../../utils';
import { ProjectsList } from '../index.astro';

const lang = getLangFromUrl(Astro.url) as Langs;

const projects: ProjectWithLang[] = await Astro.glob('../../content/projects/*.json');
const projectList = await filterProjects({ projects, lang });
---

<section class='flex items-center justify-center px-5 py-14 md:pb-40'>
  <div class='container'>
    <ProjectsList projects={projectList} />
  </div>
</section>
