---
import { getLangFromUrl } from "@/i18n/utils"
import type { Langs, ProjectFromImport, ProjectMDXContent, ProjectMDXGlobResult } from "@/types"
import { ProjectsList } from "@/components/index.astro"

const lang = getLangFromUrl(Astro.url) as Langs

const projectFiles = (await import.meta.glob<ProjectMDXContent>("@/content/projects/**/*.mdx", {
	eager: true,
})) as ProjectMDXGlobResult

const projectList: ProjectFromImport[] = Object.values(projectFiles)
	.filter(
		(project): project is ProjectMDXContent & { frontmatter: { lang: Langs } } =>
			project.frontmatter.lang === lang
	)
	.map(({ frontmatter: { lang, name, title, category, images, description }, Content }) => ({
		lang,
		name,
		title,
		category,
		images,
		description,
		Content,
	}))
---

<section class="flex items-center justify-center px-5 py-14 md:pb-40">
	<div class="container">
		<ProjectsList projects={projectList} />
	</div>
</section>
