---
import { DATA_EXPERIENCE } from "@/content/index.astro"
import { getLangFromUrl, useTranslations } from "@/i18n/utils"
import { Check } from "@/components/icons/index.astro"
import { Typography } from "@/components/index.astro"

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)

const { jobs }: { jobs: string[] } = DATA_EXPERIENCE[lang] || []

const experienceText = t("home.experience.title")
const experienceStart = "2017-03-01"
---

<section
	class="dark:bg-dark relative z-10 flex items-center justify-center bg-white px-5 pt-8 pb-14 md:pt-24 md:pb-40"
>
	<div class="container">
		<Typography
			type="h3"
			class="h2 mb-12 max-w-3xl leading-tight text-balance md:mb-20 dark:text-white"
		>
			<span id="yearsExperience" style="display:none"></span>
		</Typography>
		<div class="grid grid-cols-2 gap-8 sm:gap-12 md:gap-20">
			{
				jobs.map((text: string) => (
					<div class="col-span-2 grid grid-cols-[2rem_1fr] gap-4 text-left md:col-span-1 md:grid-cols-[3rem_1fr]">
						<div class="text-primary-500 dark:text-primary-300 h-8 w-8 md:h-12 md:w-12">
							<Check />
						</div>
						<p class="p highlight text-dark text-pretty dark:text-white">{text}</p>
					</div>
				))
			}
		</div>
	</div>
</section>

<script is:inline define:vars={{ experienceText, experienceStart }}>
	const date = new Date()
	const startDate = new Date(experienceStart)

	const years = date.getFullYear() - startDate.getFullYear()

	const totalExperience = experienceText.replace(/\{YEARS_EXPERIENCE}/, String(years))

	const yearsExperience = document.getElementById("yearsExperience")
	yearsExperience.innerHTML = totalExperience
	yearsExperience.style.display = ""
</script>
