---
import { getLangFromUrl, useTranslatedPath, useTranslations } from "../../i18n/utils"
import type { Langs, ProjectFromImport, ProjectMDXContent, ProjectMDXGlobResult } from "../../types"
import { ProjectsList, Typography } from "../index.astro"

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)
const translatePath = useTranslatedPath(lang)

const projectFiles = (await import.meta.glob<ProjectMDXContent>("@/content/projects/**/*.mdx", {
	eager: true,
})) as ProjectMDXGlobResult

const projectList: ProjectFromImport[] = Object.values(projectFiles)
	.filter(
		(project): project is ProjectMDXContent & { frontmatter: { lang: Langs } } =>
			project.frontmatter.lang === lang
	)
	.map(({ frontmatter: { lang, name, title, category, images, description }, Content }) => ({
		lang,
		name,
		title,
		category,
		images,
		description,
		Content,
	}))
---

<section
	class="dark:bg-dark relative z-10 flex items-center justify-center bg-white px-5 py-14 md:py-40"
>
	<div class="container">
		<div class="mb-12 flex flex-wrap items-center justify-between gap-6 md:mb-20">
			<Typography type="h3" class="max-w-4xl leading-tight text-balance dark:text-white">
				{t("home.projects.title")}
			</Typography>
			<Typography
				type="h5"
				class="text-dark/60 hover:text-dark/70 ml-auto transition-colors dark:text-white/60 dark:hover:text-white/70"
			>
				<a href={translatePath("/projects")} class="text-inherit">{t("home.projects.seeAll")}</a>
			</Typography>
		</div>
		<ProjectsList projects={projectList} />
	</div>
</section>
