---
import { getLangFromUrl, useTranslations } from "@/i18n/utils"
import { Button, Typography } from "@/components/index.astro"

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)
---

<div class="container mx-auto">
	<div class="flex min-h-[75vh] flex-col items-center justify-center gap-10 py-[10vh] text-center">
		<Typography type="h1" class="text-balance dark:text-white"
			>{t("shop.thankYou.title")}</Typography
		>
		<Typography type="p" class="highlight text-balance dark:text-white"
			>{t("shop.thankYou.description")}</Typography
		>

		<div class="max-w-[600px] rounded-sm bg-yellow-100 px-8 py-4 text-balance text-yellow-900">
			{t("shop.thankYou.alert")}
		</div>

		<Button
			tag="a"
			color="secondary"
			class="download-file mt-8"
			size="xl"
			target="_blank"
			rel="noopener noreferrer"
			variant="filled">{t("shop.thankYou.cta")}</Button
		>
	</div>
</div>

<script is:inline>
	const button = document.querySelector(".download-file")
	const url = window.location.href

	const newUrl = new URL(url)
	const encodedFileUrl = newUrl.searchParams.get("fileUrl")

	let fileUrl = ""

	try {
		if (encodedFileUrl) {
			fileUrl = atob(encodedFileUrl)
		}
	} catch (e) {
		console.error("Error al decodificar la URL:", e)
	}

	if (isValidUrl(fileUrl)) {
		button?.setAttribute("href", fileUrl)
	} else {
		window.location.href = "/"
	}

	function isValidUrl(string) {
		try {
			new URL(string)
			return true
		} catch (_) {
			return false
		}
	}
</script>
