---
import { Footer, Header } from '@/components/index.astro';
import { getLangFromUrl } from '@/i18n/utils';
import Layout from '@/layouts/Layout.astro';

const lang = getLangFromUrl(Astro.url);
---

<Layout title='Israel Larrondo | Portfolio'>
  <main class='min-h-[100dvh]'>
    <Header lang={lang} />
    <Footer lang={lang} />
  </main>
</Layout>
