---
import Typography from "@/components/core/Typography/index.astro"
---

<div class="container">
	<Typography
		variant="h2"
		class="text-dark mb-10 leading-[1.2em] font-normal text-pretty dark:text-white"
	>
		👉{" "}
		<span class="mark-text font-bold">
			<span>Soy un especialista en Diseño Web y Desarrollo Front-End</span>
		</span>
		, dedicado a encontrar soluciones para desafíos digitales. Actualmente, diseño proyectos con
		<span class="mark-text font-bold">
			<span>Figma</span>
		</span>{" "}
		y los desarrollo utilizando{" "}
		<span class="mark-text font-bold">
			<span>Astro y Tailwind</span>
		</span>
		. De hecho, este portafolio que estás viendo también está construido con estas tecnologías y exhibe
		mis proyectos de diseño y desarrollo.
	</Typography>
	<Typography variant="h3" class="text-dark leading-normal font-normal text-pretty dark:text-white">
		¡Echa un vistazo y déjame impresionarte! 😁
	</Typography>
</div>
