@import 'tailwindcss/base';

@import 'tailwindcss/components';

@import 'tailwindcss/utilities';

html {
  scroll-timeline-name: --mainTimeline;
}

body {
  scrollbar-gutter: stable both-edges;
  font-family: 'Syne Variable', sans-serif;
  min-height: 100dvh;
  @apply bg-white;
}
@media (prefers-color-scheme: dark) {
  body {
    @apply bg-dark;
  }
}
