---
import { Typography } from "@/components/index.astro"
import Breadcrumbs from "./Breadcrumbs.astro"
import { twMerge } from "tailwind-merge"

const { title = "", breadcrumbs = [], class: className, name = "" } = Astro.props
---

<div class={twMerge("flex flex-col gap-2 pt-12", className)}>
	<Breadcrumbs {breadcrumbs} />
	<Typography
		type="h1"
		class="leading-[1.1em] text-pretty dark:text-white"
		transition:name={`page-title-${name}`}>{title}</Typography
	>
</div>
