---
import { Typography } from "@/components/index.astro"
import Breadcrumbs from "./Breadcrumbs.astro"

const { title = "", breadcrumbs = [], class: className, name = "" } = Astro.props
---

<div class=`flex items-center justify-center px-5 pt-12 ${className}`>
	<div class="container">
		<div class="flex flex-col gap-6">
			<Breadcrumbs {breadcrumbs} />
			<Typography
				type="h1"
				class="text-balance dark:text-white"
				transition:name={`page-title-${name}`}>{title}</Typography
			>
		</div>
	</div>
</div>
