---
import { twMerge } from "tailwind-merge"

import Breadcrumbs from "./Breadcrumbs.astro"

import Typography from "@/components/core/Typography/index.astro"

const { title = "", breadcrumbs = [], class: className, name = "" } = Astro.props
---

<div class={twMerge("flex flex-col gap-2 pt-12", className)}>
	<Breadcrumbs {breadcrumbs} />
	<Typography
		variant="h1"
		class="text-dark leading-[1.1em] text-pretty dark:text-white"
		transition:name={`page-title-${name}`}>{title}</Typography
	>
</div>
