---
import { getLangFromUrl, useTranslations, useTranslatedPath, cleanUrl } from "@/i18n/utils"
import { getEnabledRoutes } from "@/config/routes"

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)
const translatePath = useTranslatedPath(lang)
const { pathname } = Astro.url
const currentPath = cleanUrl(pathname)

const env = import.meta.env.MODE

const enabledRoutes = getEnabledRoutes(lang, env)

const isThisPage = (pageUrl = "", currentPath = "") => {
	const paths = currentPath.replace("/", "").split("/")
	const [current] = paths
	const pagePaths = pageUrl.replace("/", "").split("/")
	const [pageRoot] = pagePaths
	return pageRoot === current
}
---

<ul class="flex flex-col gap-5 lg:flex-row">
	{
		enabledRoutes?.map(({ name, href = "" }) => {
			const path = translatePath(href)
			const isActive = isThisPage(href, currentPath)

			return (
				<li>
					<a
						href={path}
						class={`font-syne text-dark block text-center text-2xl font-bold transition-opacity hover:opacity-80 lg:text-xl dark:text-white ${
							isActive ? "" : "opacity-60"
						}`}
					>
						{t(name as any)}
					</a>
				</li>
			)
		})
	}
</ul>
